doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Camilo CV
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    .container
      .leftContainer
        h1#fullname JUAN CAMILO VELANDIA BOTELLO
        #profileImage
          img(src='images/profile.png', alt='profile')
        .whiteContainer
          h3(style='font-weight: lighter; margin-bottom: 0px; margin-top: 0px; text-align: end;')
            | ESTUDIANTE DE
            br
            | INGENIERÍA DE SISTEMAS
        .whiteContainer(style='margin-bottom: 0px; margin-top: 0px;')
          h2(style='margin-bottom: 0px; margin-top: 5px;')
            | HABILIDADES
            br
            | TÉCNICAS
          ul
            li Python
            li Java
            li C++
            li Git
            li React.js/ReactNative
            li Material Design
            li Android
        .whiteContainer
          h2(style='margin-bottom: 0px; margin-top: 5px;') CONTACTO
          p
            | +573008771333
            br
            | 						jcamilovelandiab@gmail.com
            br
            | 						linkedin.com/in/camilo-velandia-botello
      .rightContainer
        .column
          #aboutMe(style='padding: 10px;')
            h2 Sobre mí
            p
              | Soy apasionado en algoritmos, desarrollo de software, seguridad, análisis y creación de soluciones. Tengo
              | experiencia en
              | el desarrollo de aplicaciones móviles y web, utilizando metodologías ágiles como SCRUM. Participé en el
              | semillero de
              | investigación ECIGMA, la cual es un grupo de competidores de programación de la universidad, en donde me
              | permitió
              | desarrollar habilidades como el trabajo en equipo y la creación de soluciones óptimas a problemas de algoritmia.
              | Me
              | adapto a diferentes ambientes fácilmente y me gusta aprender cada día.
          #education(style='padding: 10px;')
            h2 Educación
            ul
              li
                h4(style='margin-bottom: 0px;')
                  | ESCUELA COLOMBIANA DE INGENIERÍA JULIO GARAVITO
                  br
                  | 									BOGOTÁ D.C, COLOMBIA.
                p(style='margin-top: 5px;')
                  | Enero 2016 - Septiembre 2020 | Ingeniería de Sistemas
              li
                h4(style='margin-bottom: 0px;')
                  | INSTITUTO TECNOLÓGICO DE TOLUCA
                  br
                  | 									TOLUCA, MÉXICO.
                p(style='margin-top: 5px;')
                  | Enero 2020 - Junio 2020 | Ingeniería en Sistemas Computacionales.
                  | Semestre de intercambio gracias a la beca PILA (Programa de Intercambio Latinoamericano).
              p
        .column
          #portafolio(style='padding: 10px; ')
            h2 Portafolio
            .portafolio-item
              h4 GO-RENT. DESARROLLO DE APLICACIÓN NATIVA DE ANDROID OS.
              h5 Proyecto Individual. Enero 2020 - Junio 2020
              ul
                li
                  | Aplicación móvil cuyo objetivo es ayudar a aquellos que necesitan alquilar productos o cosas a precios asequibles.
                  | También, los usuarios pueden publicar sus productos para alquilar y ganar dinero extra.
                li
                  | Habilidades aprendidas: Desarrollo de aplicaciones móviles Android, programación reactiva, patrón de diseño MVVM,
                  | SQLite, Firebase, retrofit, y push notifications.
            .portafolio-item
              h4 BlockSIEM: PROTECTING SMART CITIES THROUGH A BLOCKCHAIN-BASED AND DISTRIBUTED.
              h5
                | Proyecto grupal. Artículo publicado en la revista científica MDPI. Agosto  2019 - Junio 2020
              p
                | Solución de gestión de eventos de seguridad que protege dispositivos IoC (Internet de las Cosas) de ciberataques. Está
                | solución está orientada a proteger organizaciones e infraestructuras en Ciudades inteligentes.
            .portafolio-item
              h4 BICIROUTE: INNOVATION AND ENTREPRENEURSHIP. 
              h5 Proyecto grupal. Agosto 2019- Diciembre 2019
              ul
                li
                  | Aplicación que busca luchar contra problemas de seguridad que los ciclistas enfrentan en Bogotá.
                li
                  | Habilidades aprendidas: React.js, Progressive Web Apps (PWAs), MongoDB, Google Maps API, desarrollo de aplicaciones
                  | móviles Android OS, Postgresql.
