html, body{
    margin: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.container{
    position: absolute;
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.leftContainer{
    width: 30%;
    height: 100%;
    padding: 15px;
    background-color: black;
    box-sizing: border-box;
}

.rightContainer{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#fullname{
    color: aliceblue;
    margin: 30px;
    text-align: end;
}

.column {
    width: 50%;
    height: 100%;
    padding: 25px;
    box-sizing: border-box;
}

.whiteContainer {
    color: aliceblue;
    margin-left: 25px;
    margin-right: 25px;
}

#portafolio {
    padding: 10px;
}

.portafolio-item{
    margin-top: 15px;
    margin-bottom: 15px;
}

.portafolio-item > h4, h5, ul, p{
    margin-top: 0px;
    margin-bottom: 0px;
}

#profileImage{
    display: flex;
    flex-direction: column;
}

#profileImage > img{
    max-height: 150px;
    border-radius: 50%;
    align-self: flex-end;
    margin: 10px 30px;
}